    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html }}" />
    <meta property="og:description" content="{{ page.excerpt| strip_html }}" />
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}" />
    {% endif %}

    <meta property="og:url" content="{{ page.url | absolute_url }}"/>

    {% if page.type %}
    <meta property="og:type" content="article" />
    {% endif %}


    {% if page.image }
    <meta property="og:image" content="{{ page.image }}" />
    {% else %}
    <meta property="og:image" content="https://avatars1.githubusercontent.com/u/21154487?s=250&v=4" />
    {% endif %}

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% endif %}

    {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords | join: ', ' | escape }}">
    {% endif %}


    <meta property="article:author" content="AbuBakar Khan" />



    {% if page.tags %}
    <meta itemprop="keywords" content="{{ page.tags | join: ',' }}" />
    {% for tag in page.tags %}
    <meta property="article:tag" content="{{ tag }}">
    {% endfor %}
    {% endif %}