<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />


    <link rel='icon' sizes='16x16' type='image/png' href='/images/favicons/favicon-16x16.png'>
    <link rel='icon' sizes='32x32' type='image/png' href='/images/favicons/favicon-32x32.png'>
    <link rel='manifest' href='/images/favicons/manifest.webmanifest'>



  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h1 class="site-name" style="text-decoration: none;"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/about">About</a>
            <a href="{{ site.baseurl }}/">Blog</a>
            <a href="{{ site.baseurl }}/about#contact-me" onclick="highlight">Contact</a>
            <a href="https://github.com/MrABKhan">Github</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer" id="contact">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}

    <script src="http://code.jquery.com/jquery-latest.min.js"
            type="text/javascript" charset="utf-8"></script>
    <script	src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
               type="text/javascript" charset="utf-8"></script>

    <script>
        function highlight() {
            var animTime = 1000;
            $('#contact-me').addClass('pulse', animTime).removeClass('pulse', animTime);
        }
    </script>

  </body>
</html>
